In [4]:
import pandas as pd

In [8]:
csv_df = pd.read_csv('cars-Copy1.csv', delimiter =";")
csv_df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433.0,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US

In [9]:
import numpy as np
a= np.array([[1,2,3],[4,5,6]], dtype=np.float32)
print(a.ndim, a.shape, a.dtype)

2 (2, 3) float32

In [11]:
import numpy as np
b =np.array([[[1,2],[1,2]],[[1,2],[1,2]],[[1,2],[1,2]]], dtype=np.float32, ndmin = 6)
print(b.ndim)

6

In [12]:
np.ones((3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [17]:
np.array([1,2,3,4,5,6])
a=a.ravel
a

array([[1., 2., 3.],
       [4., 5., 6.]], dtype=float32)