In [1]:
import pandas as pd

In [2]:
csv_df = pd.read_csv('cars.csv', delimiter =";")
csv_df.head(30)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433.0,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198.0,4341.0,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220.0,4354.0,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215.0,4312.0,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225.0,4425.0,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190.0,3850.0,8.5,70,US
10,Citroen DS-21 Pallas,0.0,4,133.0,115.0,3090.0,17.5,70,Europe
11,Chevrolet Chevelle Concours (sw),0.0,8,350.0,165.0,4142.0,11.5,70,US
12,Ford Torino (sw),0.0,8,351.0,153.0,4034.0,11.0,70,US
13,Plymouth Satellite (sw),0.0,8,383.0,175.0,4166.0,10.5,70,US
14,AMC Rebel SST (sw),0.0,8,360.0,175.0,3850.0,11.0,70,US
15,Dodge Challenger SE,15.0,8,383.0,170.0,3563.0,10.0,70,US
16,Plymouth 'Cuda 340,14.0,8,340.0,160.0,3609.0,8.0,70,US
17,Ford Mustang Boss 302,0.0,8,302.0,140.0,3353.0,8.0,70,US
18,Chevrolet Monte Carlo,15.0,8,400.0,150.0,3761.0,9.5,70,US
19,Buick Estate Wagon (sw),14.0,8,455.0,225.0,3086.0,10.0,70,US
20,Toyota Corolla Mark ii,24.0,4,113.0,95.0,2372.0,15.0,70,Japan
21,Plymouth Duster,22.0,6,198.0,95.0,2833.0,15.5,70,US
22,AMC Hornet,18.0,6,199.0,97.0,2774.0,15.5,70,US
23,Ford Maverick,21.0,6,200.0,85.0,2587.0,16.0,70,US
24,Datsun PL510,27.0,4,97.0,88.0,2130.0,14.5,70,Japan
25,Volkswagen 1131 Deluxe Sedan,26.0,4,97.0,46.0,1835.0,20.5,70,Europe
26,Peugeot 504,25.0,4,110.0,87.0,2672.0,17.5,70,Europe
27,Audi 100 LS,24.0,4,107.0,90.0,2430.0,14.5,70,Europe
28,Saab 99e,25.0,4,104.0,95.0,2375.0,17.5,70,Europe
29,BMW 2002,26.0,4,121.0,113.0,2234.0,12.5,70,Europe

In [3]:
import numpy as np
a= np.array([[1,2,3],[4,5,6]], dtype=np.float32)
print(a.ndim, a.shape, a.dtype)

2 (2, 3) float32

In [4]:
import numpy as np
b =np.array([[[1,2],[1,2]],[[1,2],[1,2]],[[1,2],[1,2]]], dtype=np.float32, ndmin = 6)
print(b.ndim)

6

In [5]:
np.ones((3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [6]:
np.array([1,2,3,4,5,6])
a=a.ravel
a

In [ ]:
def fizzbuzz(a):
    if a%3 == 0:
        print(f"{a} fizz")
    if a%5 == 0:
        print(f"{a} buzz")
    if a%3 == 0 and a%5 == 0:
        print(f"{a} fizzbuzz")