In [57]:
#Starter code. Do NOT modify this cell
import pandas as pd
import numpy as np

# Read in dataset
df = pd.read_csv('CSCI_Fall_2024_survey.csv',delimiter=',')

In [58]:
#df_birthplace = df("What state/country were you born in?")
df.rename(columns={"What state/country were you born in?":"Birthplace",
                    'How many pets and of which kind do you have?' :'Pets',
                      'What is your favorite type of food?':"Food",
                      'What is your major?': "Major",
                        'How old are you?' : "Age"  }, inplace=True)

df.columns

Index(['Timestamp', 'What is your name?', 'What are your pronouns?',
       'Birthplace', 'How many siblings do you have?',
       'How much experience do you have programming?',
       'What class are you in? ', 'Are you working while in school?', 'Pets',
       'Food', 'Where do you live?', 'Do you take the metro?', 'Major', 'Age',
       'What is your favorite TV show?', 'What is your favorite video game?',
       'What is your favorite book?', 'Why are you taking this class? ',
       'Whats your favorite bash command?'],
      dtype='object')

In [59]:
m = "Midwest"
e = "East"
w = "West"
f = "Foreign"

df["Birthplace"] = df["Birthplace"].replace({"Missouri" : m,
                                              "Mexico": f,
                                                "Wisconsin": w,
                                                  "New Jersey" : e,
                                                   "Frankfurt, Germany": f,
                                                    "st. louis, mo": m,
                                                      " India " :f,
                                                      "St. Louis MO": m,
                                                      "Missouri, USA": m,
                                                      "Georgia (the country not the state)": f,
                                                      "st.louis mo": m,
                                                      "Saint Louis, Missouri": m,
                                                      "Kansas, Overland Park": m,
                                                      "    United States Missouri ":m,
                                                      "Oklahoma": m,
                                                      "I was born in Chandigarh, India!": f,
                                                      "People's Republic of China": f,
                                                      "india": f,
                                                      "Cameroon": f,
                                                      "TEXAS" : m,
                                                      "Kazakhstah": f})

In [83]:
df["Pets"] = df["Pets"].replace({ "1, Dog": "1",
                                 "0": "0",
                                 "no pets!": 0,
                                 "I have two dogs and they are both at home":"2",
                                 "none": "0",
                                 " NaN ": "0",
                                 " 1 dog and 1 cat": "2",
                                 "2 cats, one dog": "3",
                                 "I have two dogs. They're bernedoodles.": "2",
                                 "1":"1",
                                 "2, Grumpy the exotic shorthair w heterchromia ...": "2",
                                 "2 minature schnauzers": "2",
                                 "2 dogs":"2",
                                 "2, dogs.":"2",
                                 "None :( But I really want a cat!": "0",
                                 "1 Cat; 6 Dogs (Over two households)": "7",
                                 "had 8 dogs, not anymore": "8",
                                 "no pets": "0",
                                 "three dogs": "3",
                                 "No pets" :"0"})

In [86]:
df["PetsNew"] = np.where(df["Pets"].str.contains("NaN"),"0",
                              np.where(df["Pets"].str.contains("1 dog and 1 cat"),"2",
                                        np.where(df["Pets"].str.contains("Grumpy"),"2",
                                                 np.where(df["Pets"].str.contains("0"),"0",
                                                          np.where(df["Pets"].str.contains("1"),"1",
                                                                   np.where(df["Pets"].str.contains("2"),"2","3+"))))))
df["PetsNew"]

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     2
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    2
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
Name: PetsNew, dtype: object

In [71]:
df["FavoriteFood"] = np.where(df["Food"].str.contains("Japanese"),"Japanese",
                              np.where(df["Food"].str.contains("Mexican"),"Mexican",
                                        np.where(df["Food"].str.contains("Italian"),"Italian","Other")))

In [72]:
df["FavoriteFood"]

0     Japanese
1      Mexican
2      Italian
3      Italian
4        Other
5     Japanese
6        Other
7      Mexican
8        Other
9      Mexican
10       Other
11     Italian
12       Other
13     Italian
14     Mexican
15       Other
16    Japanese
17     Italian
18       Other
19       Other
20     Italian
21    Japanese
22    Japanese
23       Other
24       Other
25     Mexican
Name: FavoriteFood, dtype: object

In [82]:

df["MajorNew"] = np.where(df["Major"].str.contains("omp"),"COMPSCI",
                              np.where(df["Major"].str.contains("CS/", case=False),"COMPSCI",
                                        np.where(df["Major"].str.contains("Data"),"DATA",
                                            np.where(df["Major"].str.contains("1"),"1",
                                                np.where(df["Major"].str.contains("2"),"2","Other")))))
df["MajorNew"]

0     COMPSCI
1     COMPSCI
2        DATA
3       Other
4     COMPSCI
5     COMPSCI
6     COMPSCI
7     COMPSCI
8     COMPSCI
9        DATA
10    COMPSCI
11    COMPSCI
12    COMPSCI
13    COMPSCI
14    COMPSCI
15    COMPSCI
16      Other
17    COMPSCI
18       DATA
19    COMPSCI
20    COMPSCI
21      Other
22    COMPSCI
23    COMPSCI
24      Other
25       DATA
Name: MajorNew, dtype: object

In [89]:
df["Age"] = df["Age"].replace({ 18: "18",
                               19:"19",
                               17: "17",
                               20:"20",
                               21: "21"})
df["AgeNew"] = np.where(df["Age"].str.contains("18"),"18-19",np.where(df["Age"].str.contains("19"),"18-19","Not Freshman"))
df["AgeNew"]

0            18-19
1            18-19
2            18-19
3     Not Freshman
4            18-19
5            18-19
6            18-19
7            18-19
8            18-19
9            18-19
10           18-19
11           18-19
12           18-19
13           18-19
14           18-19
15           18-19
16    Not Freshman
17           18-19
18           18-19
19           18-19
20           18-19
21    Not Freshman
22           18-19
23           18-19
24           18-19
25    Not Freshman
Name: AgeNew, dtype: object