In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
#QUESTION 1
oldlist = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
newlist = sorted(oldlist, key=lambda x: -1/x)
newlist

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [5]:
df = pd.read_csv("JEOPARDY_DATA.csv")

In [3]:

df[" Value"] = df[" Value"].str.replace("$","").str.replace(",", "")
df[" Value"] = df[" Value"].astype(float)
df[" Value"]

0          200.0
1          200.0
2          200.0
3          200.0
4          200.0
           ...
216925    2000.0
216926    2000.0
216927    2000.0
216928    2000.0
216929       NaN
Name:  Value, Length: 216930, dtype: float64

In [4]:
dfnew = pd.get_dummies(df[[" Round"," Value" ]])
dfnew

,Value,Round_Double Jeopardy!,Round_Final Jeopardy!,Round_Jeopardy!,Round_Tiebreaker
0,200.0,False,False,True,False
1,200.0,False,False,True,False
2,200.0,False,False,True,False
3,200.0,False,False,True,False
4,200.0,False,False,True,False
...,...,...,...,...,...
216925,2000.0,True,False,False,False
216926,2000.0,True,False,False,False
216927,2000.0,True,False,False,False
216928,2000.0,True,False,False,False
216929,NaN,False,True,False,False