In [6]:
import pandas as pd
import numpy as np
import math
import statistics
from scipy import stats
import matplotlib.pyplot as plt

In [26]:
belize_df = pd.read_csv('belize_airbnb_listings.csv')
sorted_belize = belize_df.groupby("neighbourhood_group")
x=sorted_belize[["price"]].mean()
y=sorted_belize[["number_of_reviews"]].sum()
z=sorted_belize[["availability_365"]].max()
merged_belize = pd.merge(x, y, on="neighbourhood_group")
merged_belize = pd.merge(merged_belize,z, on="neighbourhood_group")
merged_belize

                          price  number_of_reviews  availability_365
neighbourhood_group
Belize               380.302414              27100               365
Cayo                 205.847525               7356               365
Corozal              156.553846                492               365
Orange Walk          122.035714                415               365
Stann Creek          471.119584               4855               365
Toledo               222.978723                194               365